*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
  
  
}
body{
    position: relative;
    background: #080008;

}
.header{

    position: absolute;
    display: block;
    height: 100px;
    width: 100%;
    padding: 0 8%;
    background: #080008;
    top: 0;
   


}
nav{
    display: flex;
    align-items: center;
    justify-content:  space-around

}
.logo{
    color: #fff;
   
    height: 40px;
    padding: 10px;
    justify-content: center;
   
}

.menu{
   
    height: 60px;
    padding: 10px 20px;
    justify-content: center;
   
}
.nav-links{
    padding: 28px 0 ;

}
.nav-links li{
    display: inline-block;
    margin: 0 15px;
}
.nav-links li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
   
}
.nav-links li a::after{
    content: '';
    background:  #ff3d00;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
    
}
.nav-links li a:hover::after{
    width: 100%;
}

.btn{
    background-color: #ff3d00;
    color: #fff;
    padding: 10px 40px;
    border-radius: 3px;
    cursor: pointer

}
.menuTx{
    color: #fff;
    font-weight: bold;
    

}
.headerDetails{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
.menuDetails{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.content{
    display: block;
    position: relative;
    height: auto;
    padding: 10%;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    color: #fff;
}
.content h1{

    font-size: 35px;
    font-weight:  600;
    margin-bottom: 20px;
}
.content form{
    background: #fff;
    padding:  10px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;

}
.content form input{
    flex: 1;
    border: none;
    outline:none;
    padding: 0 20px;
    font-size: 18px;

}
.content form button{
    background: #ff3d00 ;
    color: #fff;
    padding: 15px 40px;
    border: none;
    border-radius: 6px;
}

.slideshow {
    display: block;
    
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 500px;
    width: 364px;
    margin: 0 auto;
    padding: auto;
    }
    .slide-wrapper {
    width: 2000px;
    animation: slide 18s infinite;
    }
    .image-container{
    margin-top: 50px;
    float: left;
    height: 500px;
    width: 364px;
    }
    .image-container:nth-child(1) {
    background: url("https://m.media-amazon.com/images/M/MV5BMjYwY2Q1ODAtMGFjMy00ZWVlLWE4M2QtZmJhMWY0OTgwZjljXkEyXkFqcGdeQXVyMTQyODg5MjQw._V1_UX128_CR0") ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    }
    .image-container:nth-child(2) {
    background: url("https://m.media-amazon.com/images/M/MV5BYmQwYTIzNTgtNDNjNS00MTM2LWJkZmQtNDEwMjJkYWJlOTBmXkEyXkFqcGdeQXVyOTgxNDIzMTY@._V1_UX128_CR0") ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    }
    .image-container:nth-child(3) {
    background: url("https://m.media-amazon.com/images/M/MV5BMmIwYzFhODAtY2I1YS00ZDdmLTkyYWQtZjI5NDIwMDc2MjEyXkEyXkFqcGdeQXVyODk4OTc3MTY@._V1_UX128_CR0") ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    }
    .image-container:nth-child(4) {
    background: url("https://m.media-amazon.com/images/M/MV5BNzY2OWY4YWItYzI5MS00MzUzLWE2ZTYtODhkMzdmOTk2M2VlXkEyXkFqcGdeQXVyMDM2NDM2MQ@@._V1_UX128_CR0") ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    }
    .image-container:nth-child(5) {
        background: url("https://m.media-amazon.com/images/M/MV5BNzY2OWY4YWItYzI5MS00MzUzLWE2ZTYtODhkMzdmOTk2M2VlXkEyXkFqcGdeQXVyMDM2NDM2MQ@@._V1_UX128_CR0") ;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        }
    @keyframes slide {
    20% {margin-left: 0%;}
    30% {margin-left: -100%;}
    40% {margin-left: -100%;}
    50% {margin-left: -200%;}
    60% {margin-left: -200%;}
    70% {margin-left: -300%;}
    85% {margin-left: -300%;}
    95% { margin-left: -400%; }
    100% {margin-left: -400%;}
    
   
    }
   
    #commingSoon{
        display: flex;
        flex-direction: row;
       
        position: relative;
        width:1820px;
        height: 600px;
        direction: ltr;
       
    
       
        
        font-size: 10px;
        color: white;
        overflow: scroll;
        margin: 0 auto;
    }

.movie{
    display: block;    
    flex-direction: row;
    position: relative;
    width: 500px;
    height: 550px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    margin: auto;
   
    
}
.searchbox{
    max-width: 800%;
    padding: 5% 15%;
}


.pic{
    display: inline-block;
    flex-direction: row;
    position: absolute;
    height: 500px;
    width: 364px;

}
.movie div{
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100px;
    color: white;
    position: absolute;
    font-size: 20px;
    bottom : 20px;
    
    
    background: rgb(29, 29, 29);
    opacity: 0.75;
    padding-top: 10px;
  
}
.parenttest{
    display: block;
    position: relative;
    width: auto;
    height: 600px;
}
#testback{
    width: 1000px;
    height: 1000px;
}
#overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}
